CompileFlags:
  Add: -Wno-unknown-warning-option
  Remove: [-m*, -f*]

---
If:
  PathMatch: (src|include)/.*\.(h|hh|hpp|hxx|c|cc|cpp|cxx)$
CompileFlags:
  Compiler: C:/Program Files/LLVM/bin/clang-cl.exe
  Add: [-xc++, -std=c++17, -DGDEXTENSION, -DTYPED_METHOD_BIND, -DDEBUG_ENABLED, -DNDEBUG, -DNOMINMAX, -DWINDOWS_ENABLED, -D_HAS_EXCEPTIONS=0, -Igodot-cpp/gdextension, -Igodot-cpp/include, -Igodot-cpp/gen/include, -Isrc, /imsvcC:/Program Files/Microsoft Visual Studio/18/Community/VC/Tools/MSVC/14.51.36231/include, /imsvcC:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/ucrt, /imsvcC:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/shared, /imsvcC:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/um, /imsvcC:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/winrt]
